<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col">
            <h1>Upload image</h1>
            <hr>

            <form action="/api/detect-text" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" style="width: calc(100%) " class="custom-file-input"
                               name="image" id="image">
                        <!--                        <label class="custom-file-label" for="image">Select image....</label>-->
                    </div>

                </div>
                <hr>
                <button type="submit" class="btn btn-primary">Upload file</button>

            </form>
        </div>
    </div>
</div>
</body>
</html>
